In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [3]:
#Seleccionamos las variables independientes(X) y la variable objetivo (y):

df = pd.read_csv("churn_analysis.csv")
y = df["Exited"]
data = df.copy()
data.drop(["Exited"], axis = 1, inplace = True)
X = data
X.shape

(9626, 10)

In [4]:
#Vemos que variables son categóricas y ahora las transformamos a numéricas
for feature in X.columns:
    
    if df[feature].dtype == "O":
        print(feature)

Geography
Gender

In [5]:
#Empezamos con la variable "Gender"

X["Gender"] = np.where(df["Gender"] == "Male",1,0)
X["Gender"].unique()

array([0, 1])

In [6]:
X["Geography"].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [8]:
#Ahora transformamos la variable "Geography"

X["Geography"].loc[X["Geography"] == "France"] = 0
X["Geography"].loc[X["Geography"] == "Spain"] = 1
X["Geography"].loc[X["Geography"] == "Germany"] = 2
X["Geography"].unique()

array([0, 1, 2], dtype=object)

In [9]:
#Le aplicamos el logaritmo a los datos (por la asimetria)

for feature in X.columns:
    
    if 0 in X[feature].unique():
        pass
    
    else:
        
        X[feature] = np.log(X[feature])

X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,6.428105,0,0,3.737670,2,0.00,0.000000,1,1,11.526324
1,6.410175,1,0,3.713572,1,83807.86,0.000000,0,1,11.631087
2,6.218600,0,0,3.737670,8,159660.80,1.098612,1,0,11.643353
3,6.549651,0,0,3.663562,1,0.00,0.693147,0,0,11.449204
4,6.745236,1,0,3.761200,2,125510.82,0.000000,1,1,11.278267

In [11]:
#Ahora los estandarizamos (media 0 y desviación típica 1)

scaler = StandardScaler()

scaler.fit(X)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [14]:
X = pd.DataFrame(scaler.transform(X))

In [22]:
X.columns = df.columns[0:-1]

In [25]:
X.to_csv("X_data.csv", index = False)

In [26]:
y.to_csv("Y_data.csv", index = False)